@model SoftCandy.Models.Caixa
@using SoftCandy.Utils
@using SoftCandy.Data

@{
    ViewData["Title"] = "Caixa";
}

<h2>Caixa</h2>

@if (ViewBag.CaixaIdAberto != 0)
{
    <span>Caixa aberto: @ViewBag.CaixaIdAberto</span>
    <form asp-action="Fechamento">
        <div class="form-group">
            <input type="submit" value="Fechar Caixa" class="btn btn-default" />
        </div>
    </form>
}
else
{
    <h4>Caixa</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Caixa">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ValorAbertura" class="control-label"></label>
                    <input asp-for="ValorAbertura" class="form-control" />
                    <span asp-validation-for="ValorAbertura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
