@{
    ViewData["Title"] = "Pagina inicial";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center>
        <div class="card border-primary mb-3" style="max-width: 40rem;">
            <div class="card-header"><h4>SoftCandy</h4></div>
            <div class="card-body">
                <p>
                    SoftCandy - Sistema Gerenciador de Confeitaria - é um projeto desenvolvido por 
                    <a class="text-preto sem-sub negrito" href="https://github.com/WendiRamos" target="_blank">Wendi Ramos</a>, aluna do curso Análise e Desenvolvimento de Sistemas do IFSP- Campus Campos do Jordão no ano de 2022.
                </p>

                <p>Autora: Deixo aqui minha homenagem e imensa gratidão a meu namorado 
                    <a class="text-preto sem-sub negrito" href="https://github.com/heltonricardo" target="_blank">Helton Ricardo</a>, pelo apoio emocional e pelas horas que passou me ajudando durante o desenvolvimento desse projeto, sempre disposto a tirar minhas dúvidas e testar todas as funcionalidades do sistema.</p>
                <p>Muito obrigada por tudo! ❤️</p>

            </div>
        </div>
    </center>

</body>
</html>
