@{
    ViewData["Title"] = "Pagina inicial";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center>
        <div class="card border-primary mb-3" style="max-width: 40rem;">
            <div class="card-header"><h4>SoftCandy</h4></div>
            <div class="card-body">
                ifgbru
            </div>
        </div>
    </center>

</body>
</html>
