@{
    ViewData["Title"] = "Pagina inicial";
}
@using SoftCandy.Utils

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <img src="~/images/nova_logo.png" width="800">
    </center>
    @if (LoginAtual.IsAdministrador(User) || LoginAtual.IsEstoquista(User))
    {
        @if (ViewBag.MostrarAlerta)
        {
            <a asp-controller="Produto" asp-action="EstoqueBaixoVencido" id="linkForaEstoque">
                <img id="imagemForaEstoque" src="~/images/estoque.webp" title="Existem produtos escassos ou vencidos!" />
            </a>
        }
    }
</body>
</html>
