@{
    ViewData["Title"] = "Pagina inicial";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center>
        <img src="~/images/Logo.jpeg"
             width="800"
             height="585">
    </center>
</body>
</html>
