@{
    ViewData["Title"] = "Pagina inicial";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <center style="position: fixed; top: 55%; left: 50%; transform: translate(-50%, -50%)">
        <p></p>
        <img src="~/images/nova_logo.png" width="800">
        <p> </p>
        <div class="row">
            <div class="col">
                <div class="card border-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">VENDEDOR</div>
                    <div class="card-body">
                        <img src="~/images/salesman.png" width="150">
                        <p></p>
                        <a asp-controller="Vendedor" asp-action="Login" class="btn btn-danger">Entrar</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-dark mb-3" style="max-width: 20rem;">
                    <div class="card-header">ESTOQUISTA</div>
                    <div class="card-body">
                        <img src="~/images/estoque.png" width="150">
                        <p></p>
                        <a asp-controller="Estoquista" asp-action="Login" class="btn btn-dark">Entrar</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">ADMINISTRADOR</div>
                    <div class="card-body">
                        <img src="~/images/administrador.png" width="168">
                        <p></p>
                        <a asp-controller="Administrador" asp-action="Login" class="btn btn-success">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </center>
</body>
</html>
