@model SoftCandy.Models.Estoquista
@{
    ViewData["Title"] = "Conecte-se";

}

<center>
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Entre com suas credenciais!</div>
        <div class="card-body">
            <h4 class="card-title">Estoquista:</h4>
            <form asp-controller="Estoquista" asp-action="Login" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                <div class="form-group">
                    <label asp-for="EmailEstoquista" class="control-label">Email:</label>
                    <input type="text" asp-for="EmailEstoquista" class="form-control" id="email" />
                    <span class="invisivel" id="erroEmail">Insira um e-mail válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="SenhaEstoquista" class="control-label">Senha:</label>
                    <input type="password" asp-for="SenhaEstoquista" class="form-control" id="senha" />
                    <span class="invisivel" id="erroSenha">Insira uma senha válida!</span>
                </div>
                <br />
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary mr-1">Voltar</a>
                    <input type="submit" onclick="return validarLoginEstoquista()" value="Entrar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</center>
<script src="~/js/Cliente.js"></script>