@model SoftCandy.Models.Delivery

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraCriacao" class="control-label"></label>
                <input asp-for="DataHoraCriacao" class="form-control" />
                <span asp-validation-for="DataHoraCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraRecebimento" class="control-label"></label>
                <input asp-for="DataHoraRecebimento" class="form-control" />
                <span asp-validation-for="DataHoraRecebimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Recebido" /> @Html.DisplayNameFor(model => model.Recebido)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IdCaixa" class="control-label"></label>
                <select asp-for="IdCaixa" class ="form-control" asp-items="ViewBag.IdCaixa"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdMotoboy" class="control-label"></label>
                <select asp-for="IdMotoboy" class ="form-control" asp-items="ViewBag.IdMotoboy"></select>
            </div>
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <select asp-for="FormaPagamento" class="form-control"></select>
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
