@model SoftCandy.Models.Fornecedor

@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Cadastrar Fornecedor</h4></div>
        <div class="card-body">
            <div class="row-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Cnpj" class="control-label">CNPJ:</label>
                            <input asp-for="Cnpj" id="cnpj" class="form-control" autocomplete="off" />
                            <span class="invisivel" id="erroCnpj">Insira um CNPJ válido!</span>
                        </div>
                        <div class="col">
                            <label asp-for="RazaoSocial" class="control-label">Razão Social:</label>
                            <input asp-for="RazaoSocial" id="razaoSocial" class="form-control" autocomplete="off" />
                            <span asp-validation-for="RazaoSocial" class="text-red"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="NomeFantasia" class="control-label">Nome Fantasia:</label>
                            <input asp-for="NomeFantasia" id="nomeFantasia" class="form-control" autocomplete="off" />
                            <span asp-validation-for="NomeFantasia" class="text-red"></span>
                        </div>
                        <div class="col">
                            <label asp-for="CelularFornecedor" class="control-label">Celular:</label>
                            <input asp-for="CelularFornecedor" id="celularFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="CelularFornecedor" class="text-red"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="EmailFornecedor" class="control-label">E-mail:</label>
                            <input asp-for="EmailFornecedor" id="emailFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="EmailFornecedor" class="text-red"></span>
                        </div>
                        <div class="col">
                            <label asp-for="LogradouroFornecedor" class="control-label">Logradouro:</label>
                            <input asp-for="LogradouroFornecedor" id="logradouroFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="LogradouroFornecedor" class="text-red"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="NumeroFornecedor" class="control-label">Número:</label>
                            <input asp-for="NumeroFornecedor" id="numeroFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="NumeroFornecedor" class="text-red"></span>
                        </div>
                        <div class="col">
                            <label asp-for="BairroFornecedor" class="control-label">Bairro:</label>
                            <input asp-for="BairroFornecedor" id="bairroFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="BairroFornecedor" class="text-red"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="CidadeFornecedor" class="control-label">Cidade:</label>
                            <input asp-for="CidadeFornecedor" id="cidadeFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="CidadeFornecedor" class="text-red"></span>
                        </div>
                        <div class="col">
                            <label asp-for="EstadoFornecedor" class="control-label">Estado:</label>
                            <input asp-for="EstadoFornecedor" id="estadoFornecedor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="EstadoFornecedor" class="text-red"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                        <input type="submit" onclick="return validarFornecedor()" value="Salvar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/Fornecedor.js"></script>