@model SoftCandy.Models.Pedido

@{
    ViewData["Title"] = "Pedido";
}

<h2>Create</h2>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_CLIENTE" class="control-label">Nome Cliente</label>
                <select asp-for="ID_CLIENTE" class ="form-control" asp-items="ViewBag.ID_CLIENTE"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data_Pedido" class="control-label"> Data Pedido</label>
                <input asp-for="Data_Pedido" class="form-control" />
                <span asp-validation-for="Data_Pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor_Total" class="control-label">Valor Total</label>
                <input asp-for="Valor_Total" class="form-control" />
                <span asp-validation-for="Valor_Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
