@model SoftCandy.Models.Vendedor

@{
    ViewData["Title"] = "Criar Vendedor";
}

<h2>Criar Vendedor</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="form-group">
                <label asp-for="Nome_Vendedor" class="control-label"></label>
                <input asp-for="Nome_Vendedor" id="nome" class="form-control" />
                <span class="invisivel" id="erroNome">Insira um nome válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="Celular_Vendedor" class="control-label"></label>
                <input asp-for="Celular_Vendedor" id="celular" class="form-control" />
                <span class="invisivel" id="erroCelular">Insira um celular válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_Vendedor" class="control-label"></label>
                <input asp-for="Endereco_Vendedor" id="endereco" class="form-control" />
                <span class="invisivel" id="erroEndereco">Insira um endereço válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="Email_Vendedor" class="control-label"></label>
                <input asp-for="Email_Vendedor" id="email" class="form-control" />
                <span class="invisivel" id="erroEmail">Insira um e-mail válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="Senha_Vendedor" class="control-label">Senha</label>
                <input autocomplete="off" type="password" asp-for="Senha_Vendedor" id="senha" class="form-control" />
                <span class="invisivel" id="erroSenha">Insira uma senha válida!</span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar senha</label>
                <input autocomplete="off" type="password" class="form-control" id="senhaConfirma" />
                <span class="invisivel" id="erroSenhaConfirma"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" onclick="return validarVendedor()" value="Criar Vendedor" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary"> Voltar</a>
            </div>
        </form>
    </div>
</div>

