@model IEnumerable<SoftCandy.Models.Comanda>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "_LayoutRelatorio";
}

<h2>Pedidos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraRecebimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  R$  @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraRecebimento)
                </td>
            </tr>
        }
    </tbody>
</table>
<script defer>window.print()</script>
