<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoftCandy</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-Quartz.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel='icon' type='image/png' href='~/favicon.png'>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top" style="z-index: 9">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SoftCandy</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cliente" asp-action="Index">
                                <img src="~/images/clientes.png" />
                                Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Vendedor" asp-action="Index">
                                <img src="~/images/vendedor.png" />
                                Vendedores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categoria" asp-action="Index">
                                <img src="~/images/categoria.png" />
                                Categorias
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Fornecedor" asp-action="Index">
                                <img src="~/images/categoria.png" />
                                Categorias
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Produto" asp-action="Index">
                                <img src="~/images/produtos.png" />
                                Produtos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Pedido" asp-action="Create">
                                <img src="~/images/pedidos.png" />
                                Realizar Pedidos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Pedido" asp-action="Index">
                                <img src="~/images/compras.png" />
                                Meus Pedidos
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-area="" asp-controller="Vendedor" asp-action="Logout" class="nav-link">
                                <img src="~/images/sair.png" />
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SoftCandy</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a asp-controller="Vendedor" asp-action="Login" class="nav-link">
                                <img src="~/images/entrar.png" />
                                Entrar
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    }

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br />
        @RenderBody()

    </div>


    <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/sweetalert2.all.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>