@model SoftCandy.Models.Produto

@{
    ViewData["Title"] = "Criar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Criar Produto</h4></div>
        <div class="card-body">
            <div class="row-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Nome" class="control-label">Nome:</label>
                            <input asp-for="Nome" id="nomeProduto" class="form-control" />
                            <span class="invisivel" id="erroNome">Insira um nome válido!</span>
                        </div>
                        <div class="col">
                            <label asp-for="QuantidadeMinima" class="control-label">Quantidade Mínima:</label>
                            <input asp-for="QuantidadeMinima" id="quantidadeProduto" class="form-control" />
                            <span class="invisivel" id="erroQuantidadeDescartada">Insira uma quantidade válida!</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="IdCategoria" class="control-label">Categoria:</label>
                            <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.CAT"></select>
                        </div>
                        <div class="col">
                            <label asp-for="IdFornecedor" class="control-label">Fornecedor:</label>
                            <select asp-for="IdFornecedor" class="form-control" asp-items="ViewBag.FOR"></select>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <span>Medida:</span>
                        </div>
                        <div class="col">
                            <input type="radio" id="unidade" name="tipo" value="1" checked="checked">
                            <label for="unidade" asp-for="Medida">Unidade</label>
                            <input type="radio" id="ml" name="tipo" value="2">
                            <label for="ml" asp-for="Medida">Ml</label>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                        <input type="submit" onclick="return validarProduto()" value="Salvar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>
<script src="~/js/Produto.js"></script>