@model SoftCandy.Models.Produto

@{
    ViewData["Title"] = "Criar Produto";
}

<h2>Criar Produto</h2>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeProduto" class="control-label"></label>
                <input asp-for="QuantidadeProduto" class="form-control" />
                <span asp-validation-for="QuantidadeProduto" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVendaProduto" class="control-label"></label>
                <input asp-for="PrecoVendaProduto" class="form-control" />
                <span asp-validation-for="PrecoVendaProduto" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProduto" class="control-label"></label>
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">Insira uma categoria</label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.CAT"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>