@model SoftCandy.Models.OperacaoCaixa

@{
    ViewData["Title"] = "Realizar Operação";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Realizar Operação</h4></div>
        <div class="card-body">
            <div class="row-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="Tipo" class="control-label">Tipo:</label><br />
                            <input type="radio" id="entrada" name="tipo" value="1" checked="checked">
                            <label for="entrada" asp-for="Tipo">Entrada</label>
                            <input type="radio" id="saida" name="tipo" value="2">
                            <label for="saida" asp-for="Tipo">Saída</label>
                        </div>
                        <div class="col">
                            <label asp-for="Valor" class="control-label">Valor:</label>
                            <input asp-for="Valor" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Valor" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="Nome" class="control-label">Nome da Operação:</label>
                            <input asp-for="Nome" class="form-control"  autocomplete="off"/>
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Descricao" class="control-label">Descrição:</label>
                            <input asp-for="Descricao" class="form-control" placeholder="Opcional" autocomplete="off" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
