@model SoftCandy.Models.Cliente

@{
    ViewData["Title"] = "Criar Cliente";
}

<h2>Criar Cliente</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelularCliente" class="control-label"></label>
                <input asp-for="CelularCliente" class="form-control" />
                <span asp-validation-for="CelularCliente" class="text-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoCliente" class="control-label"></label>
                <input asp-for="EnderecoCliente" class="form-control" />
                <span asp-validation-for="EnderecoCliente" class="text-dark"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar Cliente" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>
