@model SoftCandy.Models.Cliente

@{
    ViewData["Title"] = "Criar Cliente";
}

<h2>Criar Cliente</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-dark"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" id="nomeCliente" class="form-control" />
                <span class="invisivel" id="erroNomeCliente">Insira um nome válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="CelularCliente" class="control-label"></label>
                <input asp-for="CelularCliente" id="celularCliente" class="form-control" />
                <span class="invisivel" id="erroCelularCliente">Insira um celular válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="EmailCliente" class="control-label"></label>
                <input asp-for="EmailCliente" id="emailCliente" class="form-control" />
                <span class="invisivel" id="erroEmailCliente">Insira um e-mail válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="LogradouroCliente" class="control-label"></label>
                <input asp-for="LogradouroCliente" id="logradouroCliente" class="form-control" />
                <span class="invisivel" id="erroLogradouroCliente">Insira um logradouro válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCliente" class="control-label"></label>
                <input asp-for="NumeroCliente" id="numeroCliente" class="form-control" />
                <span class="invisivel" id="erroNumeroCliente">Insira um número válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="BairroCliente" class="control-label"></label>
                <input asp-for="BairroCliente" id="bairroCliente" class="form-control" />
                <span class="invisivel" id="erroBairroCliente">Insira um bairro válido!</span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeCliente" class="control-label"></label>
                <input asp-for="CidadeCliente" id="cidadeCliente" class="form-control" />
                <span class="invisivel" id="erroCidadeCliente">Insira uma cidade válida!</span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCliente" class="control-label"></label>
                <input asp-for="EstadoCliente" id="estadoCliente" class="form-control" />
                <span class="invisivel" id="erroEstadoCliente">Insira um estado válido!</span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" onclick="return validarCliente()" value="Criar Cliente" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>


<script src="~/js/Cliente.js"></script>