@model SoftCandy.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Editar Cliente</h4></div>
        <div class="card-body">
            <div class="row-center">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                    <input type="hidden" asp-for="IdCliente" />

                    <div class="row">
                        <div class="col">
                            <label asp-for="NomeCliente" class="control-label">Nome:</label>
                            <input asp-for="NomeCliente" id="nomeCliente" class="form-control" />
                            <span class="invisivel" id="erroNomeCliente">Insira um novo nome válido!</span>
                        </div>
                        <div class="col">
                            <label asp-for="CelularCliente" class="control-label">Celular:</label>
                            <input asp-for="CelularCliente" id="celularCliente" class="form-control" />
                            <span class="invisivel" id="erroCelularCliente">Insira um novo celular válido!</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label asp-for="EmailCliente" class="control-label">E-mail:</label>
                            <input asp-for="EmailCliente" id="emailCliente" class="form-control" />
                            <span class="invisivel" id="erroEmailCliente">Insira um novo e-mail válido!</span>
                        </div>
                        <div class="col">
                            <label asp-for="LogradouroCliente" class="control-label">Logradouro:</label>
                            <input asp-for="LogradouroCliente" id="logradouroCliente" class="form-control" />
                            <span class="invisivel" id="erroLogradouroCliente">Insira um novo logradouro válido!</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label asp-for="NumeroCliente" class="control-label">Número:</label>
                            <input asp-for="NumeroCliente" id="numeroCliente" class="form-control" />
                            <span class="invisivel" id="erroNumeroCliente">Insira um novo número válido!</span>
                        </div>
                        <div class="col">
                            <label asp-for="BairroCliente" class="control-label">Bairro:</label>
                            <input asp-for="BairroCliente" id="bairroCliente" class="form-control" />
                            <span class="invisivel" id="erroBairroCliente">Insira um novo bairro válido!</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label asp-for="CidadeCliente" class="control-label">Cidade:</label>
                            <input asp-for="CidadeCliente" id="cidadeCliente" class="form-control" />
                            <span class="invisivel" id="erroCidadeCliente">Insira uma nova cidade válida!</span>
                        </div>
                        <div class="col">
                            <label asp-for="EstadoCliente" class="control-label">Estado:</label>
                            <input asp-for="EstadoCliente" id="estadoCliente" class="form-control" />
                            <span class="invisivel" id="erroEstadoCliente">Insira um novo estado válido!</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" onclick="return validarCliente()" value="Salvar" class="btn btn-success mr-1" />
                        <a asp-action="Index" class="btn btn-primary">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>
<script src="~/js/Cliente.js"></script>