@model SoftCandy.Models.Categoria

@{
    ViewData["Title"] = "Deletar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Deletar Categoria</h4></div>
        <div class="card-body">
            <h5>Tem certeza que deseja excluir?</h5>
            <div>
                <table class="table">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.IdCategoria): </td>
                        <td>@Html.DisplayFor(model => model.IdCategoria)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.NomeCategoria): </td>
                        <td>@Html.DisplayFor(model => model.NomeCategoria)</td>
                    </tr>
                </table>
                <br />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdCategoria" />
                    <input type="submit" value="Deletar" class="btn btn-danger mr-1" />
                    <a asp-action="Index" class="btn btn-primary">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</center>