@model SoftCandy.Models.Categoria

@{
    ViewData["Title"] = "Editar";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header"><h4>Editar Categoria</h4></div>
        <div class="card-body">
            <div class="row-center">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdCategoria" />
                        <div class="form-group">
                            <label asp-for="NomeCategoria" class="control-label">Nome:</label>
                            <input asp-for="NomeCategoria" id="NomeCategoria" class="form-control" />
                            <span asp-validation-for="NomeCategoria" class="text-red"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}