@model SoftCandy.Models.Lote

@{
    ViewData["Title"] = "Cadastrar Lote";
}
<br />
<center>
    <div class="card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header"><h4>Cadastrar Lote</h4></div>
        <div class="card-body">
            <div class="row-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                    <div class="row">
                        <div class="col">
                            <label asp-for="QuantidadeEstoque" class="control-label">Quantidade Entrada:</label>
                            <input asp-for="QuantidadeEstoque" class="form-control" autocomplete="off" />
                            <span asp-validation-for="QuantidadeEstoque" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="DataHoraFabricacao" class="control-label">Data de Fabricação:</label>
                            <input asp-for="DataHoraFabricacao" class="form-control" autocomplete="off" max="@DateTime.Now.ToString("yyyy-MM-ddT23:59")" />
                            <span asp-validation-for="DataHoraFabricacao" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="DiasVencimento" class="control-label">Dias para Vencimento:</label>
                            <input asp-for="DiasVencimento" class="form-control" autocomplete="off" />
                            <span asp-validation-for="DiasVencimento" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="PrecoCompra" class="control-label">Preço de Compra:</label>
                            <input asp-for="PrecoCompra" class="form-control" autocomplete="off" />
                            <span asp-validation-for="PrecoCompra" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label asp-for="PrecoVenda" class="control-label">Preço de Venda:</label>
                            <input asp-for="PrecoVenda" class="form-control" autocomplete="off" />
                            <span asp-validation-for="PrecoVenda" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="IdProduto" class="control-label">Produto:</label>
                            @if (ViewBag.IdProduto == null)
                            {
                                <select asp-for="IdProduto" class="form-control" asp-items="ViewBag.ListaProdutos"></select>
                            }
                            else
                            {
                                <p>@ViewBag.NomeProduto</p>
                                <input type="hidden" asp-for="IdProduto" value="@ViewBag.IdProduto"/>
                            }
                        </div>  
                    </div>
                    <br />
                    <div class="form-group">
                        <a href="javascript:history.go(-1)" class="btn btn-primary mr-1">Voltar</a>
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
