@model SoftCandy.Models.Funcionario
@{
    ViewData["Title"] = "Conecte-se";
    Layout = "_LayoutInicial";
}

<center>
    <p></p>
    <img src="~/images/nova_logo.png" width="550">
    <p></p>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Entre com suas credenciais!</div>
        <div class="card-body">
            <form asp-controller="Funcionario" asp-action="Login" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input type="text" asp-for="Email" class="form-control" id="email" />
                    <span class="invisivel" id="erroEmail">Insira um e-mail válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label">Senha:</label>
                    <input type="password" asp-for="Senha" class="form-control" id="senha" />
                    <span class="invisivel" id="erroSenha">Insira uma senha válida!</span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" onclick="return validarLogin()" value="Entrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</center>
<script src="~/js/Funcionario.js"></script>